<form method="POST" #applicantForm="ngForm" (ngSubmit)="onSubmit(applicantForm)" ngNativeValidate>
    <h2 class="title">Applicant Personal Info.</h2>
    <div class="row row-space">
        <div class="col-6">
            <div class="input-group">
                <input class="input--style-1" type="text" placeholder="FIRST NAME" name="Fname"
                    [(ngModel)]="applicant.Fname" #Fname="ngModel" required>
            </div>
        </div>
        <div class="col-6">
            <div class="input-group">
                <input class="input--style-1" type="text" placeholder="LAST NAME" name="Lname"
                    [(ngModel)]="applicant.Lname" #Lname="ngModel" required>
            </div>
        </div>
    </div>

    <div class="row row-space">
        <div class="col-12">
            <div class="input-group">
                <input class="input--style-1" type="email" placeholder="EMAIL" name="Email"
                    [(ngModel)]="applicant.Email" #Email="ngModel" required>
            </div>
        </div>
    </div>

    <div class="row row-space">
        <div class="col-6">
            <div class="input-group">
                <input class="form-control p-0" style="border: none;" type="text" onfocus="(this.type='date')"
                    onblur="(this.type='text')" placeholder="BIRTHDATE" name="BirthDate"
                    [(ngModel)]="applicant.BirthDate" #BirthDate="ngModel" required>
            </div>
        </div>
        <div class="col-4">
            <div class="input-group">
                <label><b>Gender:</b></label>
                <div class="rs-select2 js-select-simple select--no-search" style="width:100%">
                    <select class="form-control p-0" style="border: none; outline:none; box-shadow:none;" name="Gender"
                        [(ngModel)]="applicant.Gender" #Gender="ngModel" required placeholder="d.ff">
                        <option hidden value="" disabled selected>GENDER</option>
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-space">
        <div class="col-6">
            <div class="input-group">
                <input class="input--style-1" type="text" placeholder="COUNTRY" name="Country"
                    [(ngModel)]="applicant.Country" #Country="ngModel" required>
            </div>
        </div>
        <div class="col-6">
            <div class="input-group">
                <input class="input--style-1" type="text" placeholder="CITY" name="City" [(ngModel)]="applicant.City"
                    #City="ngModel" required>
            </div>
        </div>
    </div>
    <div class="row row-space">
        <div class="col-8">
            <div class="input-group">
                <input class="input--style-1" type="text" placeholder="ADDRESS" name="Address"
                    [(ngModel)]="applicant.Address" #Address="ngModel" required>
            </div>
        </div>
        <div class="col-4">
            <div class="input-group">
                <input class="input--style-1" type="tel" placeholder="PHONE NO." name="PhoneNo"
                    [(ngModel)]="applicant.PhoneNo" #PhoneNo="ngModel" required>
            </div>
        </div>
    </div>
    <div class="row row-space">
        <div class="col-5">
            <div class="input-group">
                <div class="rs-select2 js-select-simple select--no-search" style="width:100%">
                    <select class="form-control p-0" style="border: none; outline:none; box-shadow:none; padding: 0px;"
                        name="MaritalStatus" [(ngModel)]="applicant.MaritalStatus" #MaritalStatus="ngModel" required>
                        <option disabled="disabled" selected="selected">MARITAL STATUS</option>
                        <option value="1">Single</option>
                        <option value="2">Married</option>
                        <option value="3">Divorced</option>
                        <option value="4">Widowed</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <hr style="border: dashed 1px #ccc; margin:20px 0px; height:0px;" />
    <h2 class="title">Applicant Educational Info.</h2>
    <div class="row row-space">
        <div class="col-12">
            <div class="input-group">
                <input class="input--style-1" type="text" placeholder="SCHOOL NAME" name="SchoolName"
                    [(ngModel)]="applicant.SchoolName" #SchoolName="ngModel" required>
            </div>
        </div>
    </div>
    <div class="row row-space">
        <div class="col-6">
            <div class="input-group">
                <input class="input--style-1 js-datepicker" type="text" placeholder="GRADUATION YEAR"
                    name="GraduationYear" [(ngModel)]="applicant.GraduationYear" #GraduationYear="ngModel" required>
            </div>
        </div>
        <div class="col-6">
            <div class="input-group">
                <div class="rs-select2 js-select-simple select--no-search" style="width:100%">
                    <select class="form-control p-0" style="border: none; outline:none; box-shadow:none;" name="Grade"
                        [(ngModel)]="applicant.Grade" #Grade="ngModel" required>
                        <option disabled="disabled" selected="selected">GRADE</option>
                        <option value="0">Fair</option>
                        <option value="1">Good</option>
                        <option value="2">Very Good</option>
                        <option value="3">Excellent</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <hr style="border: dashed 1px #ccc; margin:20px 0px; height:0px;" />
    <h2 class="title">Applicant Resume.</h2>
    <div class="row row-space">
        <div class="col-12">
            <div class="input-group">
                <input class="input--style-1" type="file" (change)="fileChange($event)" placeholder="Upload file"
                    accept=".pdf,.doc,.docx">
            </div>
        </div>
    </div>
    <div class="p-t-20">
        <button [disabled]="!applicantForm.form.valid" class="btn btn--radius btn--green" type="submit">Submit</button>
    </div>
</form>